<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectone.cs188.projectone" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EventScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchScreen"
            android:label="@string/title_activity_search_screen"
            android:parentActivityName=".EventScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.EventScreen" />
        </activity>
        <activity
            android:name=".SearchResultScreen0929"
            android:label="@string/title_activity_search_result_screen0929"
            android:parentActivityName=".SearchScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.SearchScreen" />
        </activity>
        <activity
            android:name=".SearchResultScreen0930"
            android:label="@string/title_activity_search_result_screen0930"
            android:parentActivityName=".SearchScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.SearchScreen" />
        </activity>
        <activity
            android:name=".SearchResultScreen1002"
            android:label="@string/title_activity_search_result_screen1002"
            android:parentActivityName=".SearchScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.SearchScreen" />
        </activity>
        <activity
            android:name=".SearchResultScreen1004"
            android:label="@string/title_activity_search_result_screen1004"
            android:parentActivityName=".SearchScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.SearchScreen" />
        </activity>
        <activity
            android:name=".SearchResultCircus"
            android:label="@string/title_activity_search_result_circus"
            android:parentActivityName=".SearchScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.SearchScreen" />
        </activity>
        <activity
            android:name=".SearchResultMusic"
            android:label="@string/title_activity_search_result_music"
            android:parentActivityName=".SearchScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.SearchScreen" />
        </activity>
        <activity
            android:name=".SearchResultSocial"
            android:label="@string/title_activity_search_result_social"
            android:parentActivityName=".SearchScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.SearchScreen" />
        </activity>
        <activity
            android:name=".SearchResultScreen1003"
            android:label="@string/title_activity_search_result_screen1003"
            android:parentActivityName=".SearchScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.SearchScreen" />
        </activity>
        <activity
            android:name=".SearchResultScreenComedy"
            android:label="@string/title_activity_search_result_screen_comedy"
            android:parentActivityName=".SearchScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.SearchScreen" />
        </activity>
        <activity
            android:name=".SearchResultComedy"
            android:label="@string/title_activity_search_result_comedy"
            android:parentActivityName=".SearchScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projectone.cs188.projectone.SearchScreen" />
        </activity>
    </application>

</manifest>
